<nav class="navbar">
  <div class="navbar-container">
    <!-- Brand -->
    <a class="navbar-brand" [routerLink]="brandLink()">
      PowerEdge
    </a>

    <!-- Links -->
    <div class="navbar-links">
      <!-- Left side: role-based menus -->
      <div class="nav-left">
        @switch (role)
        {
          @case ('CUSTOMER') {
            <a class="nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</a>
            <a class="nav-link" routerLink="/view-bills" routerLinkActive="active">Bills</a>
            <a class="nav-link" routerLink="/complaints" routerLinkActive="active">Complaints</a>
          }

          @case ('SME') {
            <a class="nav-link" routerLink="/sme/complaints" routerLinkActive="active">Complaints</a>
          }

          @case ('ADMIN') {
            <a class="nav-link" routerLink="/admin/bills" routerLinkActive="active">Bills</a>
            <a class="nav-link" routerLink="/admin/complaints" routerLinkActive="active">Complaints</a>
          }
        }
      </div>

      <!-- Right side: auth -->
      <div class="nav-right">
        @if (!isLoggedIn) {
          <a class="nav-link btn-login" routerLink="/login" routerLinkActive="active">Login</a>
          <!-- <a class="nav-link btn-register" routerLink="/register" routerLinkActive="active">Register</a> -->
        } @else {
          <div class="dropdown">
            <button class="dropbtn">
              <span class="user-icon">👤</span> {{usernameF()}}
            </button>
            <div class="dropdown-content">
              <button (click)="logout()" routerLink="/home">Logout</button>
            </div>
          </div>
        }
      </div>
    </div>
  </div>
</nav>
