.login-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 60px); /* Subtract navbar height */
  background-color: var(--secondary);
}

.login-card {
  width: 100%;
  max-width: 400px;
  padding: 40px;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 8px;
  font-weight: 500;
  text-align: left;
}

.text-danger {
  color: var(--danger);
}

.error-msg {
  color: var(--danger);
  font-size: 0.85rem;
  margin-top: -10px;
  margin-bottom: 10px;
}

.btn-full {
  width: 100%;
  margin-top: 10px;
  font-weight: bold;
  border: 1px solid;
}

.btn-full:hover{
  color: #fff;
}

.login-footer {
  text-align: center;
  margin-top: 20px;
  font-size: 0.9rem;
}

.login-footer a {
  color: var(--primary);
  text-decoration: none;
  font-weight: 500;
}

.login-footer a:hover {
  text-decoration: underline;
}

.alert-danger {
  color: #721c24;
  background-color: #f8d7da;
  border: 1px solid #f5c6cb;
  padding: 10px;
  border-radius: 4px;
  margin-top: 20px;
  text-align: center;
}
