
/* .body { */

  /* background-image: url('./src/assets/images/electricity-bg.png');
   */
  /* background-image: url('../../../assets/images/electricity-bg.png'); */

   /* background-size: cover;
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
  /* background-position: center; */
/* } */


/* Transparent content blocks */
.card {
  background-color: rgba(193, 246, 249, 0.735);
  color: #004085;
  border-radius: 8px;
  border-color: #aaa;
  /* color: #fff; */
}

.btn {
  border-radius: 8px;
  border-color: #aaa;
  background-color: rgb(255, 255, 255);
  color: #004085;
}

.btn:hover{
  background-color: #004085;
  color: #fff;
}
/* Welcome / header blocks */
.bg-light {
  background-color: rgba(60, 60, 60, 0.75) !important;
  border-color: #aaa;
  color: #fff;  
}


.carousel-item {
  font-size: 1.1rem;
  padding: 15px;
}

.hero-overlay{
  background-color: rgba(193, 246, 249, 0.735);
  color: #004085;
}

.portal{
  color: #fff;
  background-color: #004085;
  border-radius: 5px;
}